In [1]:
import numpy as np
import pandas as pd 
import scipy.stats as stats

In [2]:
data=pd.read_csv("C:\Games\Bhag Milkha Bhag 2013 Hindi MC DVDScr Xvid AC3 IcTv\Desktop\CSV\Costomer+OrderForm.csv")

In [3]:
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [9]:
data.corr()

Empty DataFrame
Columns: []
Index: []

In [4]:
data.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [8]:
stats.f_oneway((data.iloc[:,0], data.iloc[:,1],data.iloc[:,2], data.iloc[:,3])

SyntaxError: unexpected EOF while parsing (<ipython-input-8-ad201ec71ce4>, line 1)

In [11]:
dataset=pd.crosstab(data['Phillippines'],data['Indonesia'],data['Malta'],data['India'])

AssertionError: arrays and names must have the same length